/*regole reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/*custom*/
header {
    background-color: #FF6347;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav img {
    width: 25%;
    height: auto;
    display: block;
}

.price {
    color: red;
    font-weight: bold;
}

.discount {
    text-decoration: line-through;
    font-weight: bold;
}

.hearth {
    top: 20px;
    right: 0;
    background-color: white;
    padding: 20px 15px;
    font-size: 150%;
}

.targhetta{
    bottom: 40px;
    left: 0px;
}

.scontistica {
    color: white;
    background-color: red;
    padding: 3px 3px;
}

.sostenibilità {
    color: white;
    background-color: rgb(0, 177, 15);
    padding: 3px 3px;
}

/*utility*/

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.text-white{
    color: white;
}

.flex{
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.block {
    display: block;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
